server:
  port: 8071

spring:
  application:
      name: configserver
  profiles:
    active: git
  cloud:
    config:
      server:
        git:
          uri: ${GIT_CONFIG_URL}
          default-label: ${GIT_CONFIG_BRANCH}
          timeout: 5
          clone-on-start: true
          force-pull: true

management:
  endpoints:
    web:
      exposure:
        include: "*"
  health:
    readinessstate:
      enabled: true
    livenessstate:
      enabled: true
  endpoint:
    health:
      probes:
        enabled: true

encrypt:
  key: ${CS_ENCRYPTION_KEY}