/.idea/dataSources/76d3f1f3-18b5-42b1-89a1-5136fb1ffecc/
/.idea/modules.xml
/.idea/compiler.xml
/.idea/dataSources/ea9b1f4e-0a81-4994-ba4d-06b1e7582beb/
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/db-forest-config.xml
/.idea/dataSources.xml
/.idea/inspectionProfiles/
/.idea/dataSources/76d3f1f3-18b5-42b1-89a1-5136fb1ffecc.corrupted.20251205-042235.xml
/.idea/dataSources.local.xml
/.idea/dataSources/534fff10-c7bf-418d-bd48-c1b8686deed5/
/.idea/misc.xml
/.idea/.gitignore
/.idea/jarRepositories.xml
/.idea/encodings.xml
/.idea/section7.iml
/.idea/dataSources/76d3f1f3-18b5-42b1-89a1-5136fb1ffecc.corrupted.20251205-042235.reason.txt
/docker-compose/default/.env
/docker-compose/prod/.env
/docker-compose/qa/.env
