services:
  rabbit:
    image: rabbitmq:4-management
    hostname: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    healthcheck:
      test: rabbitmq-diagnostics check_port_connectivity
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 5s
    extends:
      file: common-config.yml
      service: network-deploy-service

  configserver:
    image: mordiniaa/configserver:s6
    container_name: configserver-container
    working_dir: /app
    ports:
      - "8071:8071"
    depends_on:
      rabbit:
        condition: service_healthy
    healthcheck:
      test: curl --fail --silent localhost:8071/actuator/health/readiness | grep UP || exit 1
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 10s
    environment:
      GIT_CONFIG_URL: ${GIT_CONFIG_URL}
      GIT_CONFIG_BRANCH: ${GIT_CONFIG_BRANCH}
      CS_ENCRYPTION_KEY: ${CS_ENCRYPTION_KEY}
    extends:
      file: common-config.yml
      service: microservice-base-config

  accounts:
    image: mordiniaa/accounts:s6
    container_name: accounts-container
    restart: unless-stopped
    working_dir: /app
    ports:
      - "8080:8080"
    environment:
      SPRING_APPLICATION_NAME: accounts
    depends_on:
      configserver:
        condition: service_healthy
    extends:
      file: common-config.yml
      service: microservice-configserver-config

  cards:
    image: mordiniaa/cards:s6
    container_name: cards-container
    restart: unless-stopped
    working_dir: /app
    ports:
      - "9000:9000"
    environment:
      SPRING_APPLICATION_NAME: cards
    depends_on:
      configserver:
        condition: service_healthy
    extends:
      file: common-config.yml
      service: microservice-configserver-config

  loans:
    image: mordiniaa/loans:s6
    container_name: loans-container
    restart: unless-stopped
    working_dir: /app
    ports:
      - "8090:8090"
    environment:
      SPRING_APPLICATION_NAME: loans
    depends_on:
      configserver:
        condition: service_healthy
    extends:
      file: common-config.yml
      service: microservice-configserver-config

networks:
  bank:
    driver: bridge