server:
  port: 8090
spring:
  application:
    name: loans
  datasource:
    driver-class-name: org.h2.Driver
    username: sa
    password: ''
    url: jdbc:h2:mem:testdb
  h2:
    console:
      enabled: true
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update
    show-sql: true
  config:
    activate:
      on-profile: "qa"

build:
  version: "2.0"

loans:
  message: "Welcome to Bank loans related QA APIs "
  contactDetails:
    name: "Mordinia QA - Developer"
    email: "mordinia@mordinia.com"
  onCallSupport:
    - 453456234
    - 345346545