server:
  port: 8071

spring:
  application:
      name: configserver
  profiles:
    active: git
#      active: native
  cloud:
    config:
      server:
#          native:
#            search-locations: file:/{PATH}
#            search-locations: classpath:/config
        git:
          uri: ${GIT_CONFIG_URL}
          default-label: ${GIT_CONFIG_BRANCH}
          timeout: 5
          clone-on-start: true
          force-pull: true
management:
  endpoints:
    web:
      exposure:
        include: "*"
  health:
    readinessstate:
      enabled: true
    livenessstate:
      enabled: true
  endpoint:
    health:
      probes:
        enabled: true
  metrics:
    tags:
      application: ${spring.application.name}

encrypt:
  key: ${CS_ENCRYPTION_KEY}

logging:
  level:
    com.eazybytes.configserver: debug
  pattern:
    level: "%5p [${spring.application.name},%X{trace_id},%X{span_id}]"
