server:
  port: 9000
spring:
  application:
    name: cards
  datasource:
    url: jdbc:h2:mem:testdb
    driver-class-name: org.h2.Driver
    username: sa
    password: ''
  h2:
    console:
      enabled: true
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update
    show-sql: true
  config:
    import:
      - "application-qa.yaml"
      - "application-prod.yaml"
  profiles:
    active: "default"

build:
  version: "3.0"

cards:
  message: "Welcome to Bank cards related local APIs "
  contactDetails:
    name: "Mordinia Cards - Developer"
    email: "mordinia@mordinia.com"
  onCallSupport:
    - 412419491
    - 915382932