server:
  port: 9000
spring:
  application:
    name: cards
  profiles:
    active: prod
  config:
    import: optional:configserver:http://localhost:8071
  datasource:
    url: jdbc:mysql://localhost:3308/cardsdb
    username: root
    password: root
  sql:
    init:
      mode: always
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: none


management:
  endpoints:
    web:
      exposure:
        include: "*"